$mainbg-light-grey: #f6f6f6;
$bg-white: #ffffff;
$footer-color: #353535;
$light-green-clr: #99E2D0;
$price-width: 40px;
$check-width: 70px;

@mixin section-pdg{
    padding: 0 10px 30px;
}

@mixin cards-mgn{
    margin-bottom: 15px;
}

@keyframes animate {
    0%{
        transform: scale(0);
        transform: translate(-100%);
    }
    100%{
        transform: scale(1);
        transform: translate(0);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $mainbg-light-grey;
    font-family: "roboto", sans-serif;
    color: #000000;
}

.main-container{
    display: flex;
    flex-direction: column;
}

/*********La partie header **********/

header{
    width: 100%;
    display: flex;
    flex-direction: column;

    .header_logo{
        width: 100%;
        height: 63px;
        display: flex; 
        flex-direction: column;  
        justify-content: center;     
        align-items: center;
        background-color: $bg-white;
        position: relative;

        .header_logo_prev{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 17px;
            left: 17px;

            .fa-solid{
                color: $footer-color;
                cursor: pointer;
            }
        }

        .header_logo_title_main{
            font-family: "Shrikhand", serif;
            font-weight: 400;
            font-style: normal;
            font-style: italic;
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-white;

    .image{
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu{
        @include section-pdg;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $mainbg-light-grey;
        margin-top: -55px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu_header{
            display: flex;
            align-items: center;
            padding: 25px 5px;
            gap: 30px;

            .menu_header_title{
                font-family: "Shrikhand", serif;
                font-size: 28px;
                font-weight: 400;
            }

            .menu_header_icon{
                width: 35px;
                position: relative;

                .menu_header_icon_one{
                    position: absolute;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            .menu_header_icon:hover .menu_header_icon_one{
                opacity: 1;
                cursor: pointer;
                transition: 0.3s;
            }
        }

        .entrer{
            display: flex;
            flex-direction: column;
            width: 100%;
            @include section-pdg;
            padding-bottom: 30px;
            .entrer_title{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3px;  
                @include cards-mgn;
    
                    .entrer_title_para{
                        font-size: 16px;
                        font-weight: 300;
                    }
    
                    .entrer_title_border{
                        border: 3px solid $light-green-clr;
                        width: 40px;
                    }
            }
    
            .cards{
                display: flex;
                flex-direction: column;
                width: 100%;
    
                .cards_card{
                    background-color: white;
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: 1px 1px 10px #c3c0c0;
                    @include cards-mgn;

                

    
                    .cards_card_txt{
                        height: 85px;
                        display: flex;
                        flex-wrap: wrap;
                        width: calc(100% - $price-width);
                        border-radius: 15px 0 0 15px;
                        transition: 1s;
        
                        h3 {
                            width: 100%;
                            margin: 15px 0 0 10px;
                            font-size: 18px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
        
                        p {
                            margin: -12px 0 0 10px;
                            font-size: 16px;
                            width: 100%;
                            font-weight: lighter;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
        
                    .cards_card_price{
                        width: $price-width;
                        padding-top: 28px;
                        padding-right: 5px;
                        font-weight: bold;
                        font-size: 15px;
                        transition: 1s;
                    }
        
                    .cards_card_check{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        background-color: $light-green-clr;
                        font-size: 25px;
                        height: 85px;
                        width: 0;
                        transition: 1s;
                    }
                    
                }

                .cards_one{

                    animation: animate 0.5s forwards;
                }

                .cards_two{
                    animation: animate 1s forwards;
                }

                .cards_three{
                    animation: animate 1.5s forwards;
                }

                .cards_four{
                    animation: animate 2s forwards;
                }

                .cards_five{
                    animation: animate 2.5s forwards;
                }

                .cards_six{
                    animation: animate 3s forwards;
                }

                .cards_seven{
                    animation: animate 3.5s forwards;
                }

                .cards_eight{
                    animation: animate 4s forwards;
                }

                .cards_nine{
                    animation: animate 4.5s forwards;
                }

                .cards_ten{
                    animation: animate 5s forwards;
                }
        
                .cards_card:hover{
        
                    .cards_card_txt {
                        width: calc(100% - $price-width - $check-width);
                    }
        
                    .cards_card_check {
                        width: $check-width;
                    }
                }
            }
        }
                
    }

    

    .reserver_btn{
        width: 186px;
        height: 50px;
        outline: none;
        border: none;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        box-shadow: 0px 4px 10px 0px #00000040;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        cursor: pointer;
    }

    .reserver_btn:hover{
        opacity: 0.8;
    }
}

/***************La partie du footer***********/

.info{
    background-color: $footer-color;
    padding: 45px 20px;;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info_img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(84deg) 
                brightness(106%) contrast(101%);
        width: 137px;
        padding-bottom: 10px;
    }
    .info_text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        a{
            text-decoration: none;
            color: $bg-white;
        }
        
        .info_text_details{
            display: flex;
            gap: 3px;

            .info_text_details_icon{
                width: 19px;

                .fa-solid{
                    font-size: 11px;
                }
            }
        }
    }
}

/**************Responsive************/

@media(min-width: 1024px){
    .menu{
        max-width: 1055px;
    }
    .entrer{
        max-width: 634px;
    }
    .info{        
        flex-direction: row-reverse;
        padding-right: 40px;
    }
    .info .info_text{
        flex-direction: row;
        margin-right: 50px;
        gap: 50px;
    }
    .info_texts{
        display: flex;
        gap: 10px;
    }
    .info_details{
        display: flex;
        gap: 10px;
    }
}