* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: "roboto", sans-serif;
  color: #000000;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/********** La partie header ***********/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .header_logo {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header .header_logo .header_logo_title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}
header .header_location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  font-weight: 500;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

/*******La partie Main**********/
main {
  display: flex;
  flex-direction: column;
}
main .reserver {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 35px 30px 45px;
}
main .reserver .reserver_title {
  font-weight: 700;
  font-size: 24px;
}
main .reserver .reserver_text {
  font-size: 18px;
  font-weight: 300;
}
main .reserver .reserver_btn {
  width: 218px;
  height: 50px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  outline: none;
  border: none;
}
main .fonctionnement {
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
}
main .fonctionnement .fonctionnement_title {
  font-weight: 700;
  font-size: 24px;
}
main .fonctionnement .fonctionnement_btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .fonctionnement .fonctionnement_btn .fonctionnement_btn_list {
  height: 72px;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  outline: none;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
main .fonctionnement .fonctionnement_btn .fonctionnement_btn_list .fonctionnement_btn_list_txt {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
}
main .fonctionnement .fonctionnement_btn .fonctionnement_btn_list .fa-solid {
  color: #7E7E7E;
}
main .fonctionnement .fonctionnement_btn .fonctionnement_btn_list .fa-color {
  color: #9356DC;
}
main .fonctionnement .fonctionnement_btn .fonctionnement_btn_list .chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9356DC;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .restaurants {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .restaurants .restaurants_title {
  font-weight: 700;
  font-size: 24px;
}
main .restaurants .restaurants_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .restaurants .restaurants_cards .restaurants_cards_card {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
main .restaurants .restaurants_cards .restaurants_cards_card .restaurants_cards_card_img {
  position: relative;
}
main .restaurants .restaurants_cards .restaurants_cards_card .restaurants_cards_card_img img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
main .restaurants .restaurants_cards .restaurants_cards_card .restaurants_cards_card_img .restaurants_cards_card_img_para {
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
main .restaurants .restaurants_cards .restaurants_cards_card .restaurants_cards_card_info {
  display: flex;
  justify-content: space-between;
}

/************La partie footer**********/
footer {
  background-color: #353535;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .info_img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(84deg) brightness(106%) contrast(101%);
  width: 137px;
  padding-bottom: 10px;
}
footer .info_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
footer .info_text .info_text_details {
  display: flex;
  gap: 3px;
}

/*# sourceMappingURL=style.css.map */
